---
import { changeLanguage } from "i18next";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";
import Logos from "@components/logos.astro";
import Faq from "@components/faq.astro";

changeLanguage("en");

const pricingData = [
    {
        name: "Twitter space",
        price: "Jueves 01/01",
        popular: false,
        features: [],
        button: {
            text: "Google calendar",
            link: "/",
        },
    },
    {
        name: "Taller de ink!",
        price: {
            monthly: "Sábado 22/04",
            annual: "$16",
            discount: "10%",
            original: "$24",
        },
        popular: true,
        features: [],
        button: {
            text: "Google calendar",
            link: "#",
        },
    },
    {
        name: "Llamada comunitaria",
        price: "Miércoles 12/06",
        popular: false,
        features: [],
        button: {
            text: "Google calendar",
            link: "#",
        },
    },
];
---

<Layout title="Pricing">
	<Container>
		<Sectionhead>
			<Fragment slot="title">Eventos</Fragment>
			<Fragment slot="desc">Eventos locales y virtuales de la comunidad en español.</Fragment>
		</Sectionhead>

		<div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-20">
			{pricingData.map((item) => <Pricing plan={item} />)}
		</div>
		<!-- <Logos /> -->
		<Faq />
	</Container>
</Layout>
